* {
  margin: 0;
}

@font-face {
  font-family: "maxim";
  src: url(fonts/Phudu-SemiBold.ttf);
}

body {
  background-color: rgb(182, 182, 182);
}

#encabezado {
  background-color: black;
}

#titulo {
  font-size: 7vh;
  padding: 1%;
  font-family: maxim;
  color: yellow;
  display: flex;
  justify-content: center;
}

.apartados {
  color: white;
  display: flex;
  justify-content: center;
}
.apartados h3{
  margin: 0 5em 1em;
  font-family: maxim;
}