* {
  margin: 0;
}

@font-face {
  font-family: "maxim";
  src: url(fonts/Phudu-SemiBold.ttf);
}

body {
  background-color: #202123;
}

#encabezado {
  background-color: #000000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

#titulo {
  font-size: 7vh;
  padding: 1%;
  font-family: maxim;
  color: yellow;
  display: flex;
  justify-content: center;
}

.apartados {
  color: white;
  display: flex;
  justify-content: center;
}

.apartados a{
  margin: 0 5em 1em;
  font-family: maxim;
  color: white;
  text-decoration:none;
  transition: text-decoration 0.3s ease-in-out;
}
.apartados a:hover{
  text-decoration:overline;
  color:#50FE96;
}

.imagen {
  width: 45%;
  height: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  font-family: maxim;
  color: white;
  padding-top: 10rem;
}

.imagen img {
width: 100%;
height: auto;
border: 3px solid black;
}

.curiosidades{
align-items: center;
display: flex;
justify-content: center;
margin: 5% 0 0%;
font-family: maxim;
color: white;
}

.curiosidades img{
  width: 10%;
  height: auto;
}

.curiosidades-texto{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 10%;

  font-family: maxim;
  color: white;
  }

  .curiosidades-texto ul{
    width: 35%;
    list-style: none;
  }
  
  .curiosidades-texto ul li{
    margin: 1em 0;
  }

  .curiosidades-texto ul li::before{
    content: "- ";
  }